<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Product</title>
</head>
<body>
<header>
  <nav role="navigation">
    <ul>
      <li><a href="/">Shop</a></li>
      <li><a href="/admin/add-product">Add Product</a></li>
    </ul>
  </nav>
</header>

<main>
  <div style="text-align: center">
    <h1>My Products</h1>
    <p>List of all the Products...</p>
  </div>
</main>
</body>
</html>
